<h1>Employee Data Collection Form</h1>
			<div class="row">
				<div class="column">
					<label for="empid">Employee ID:</label><br>
					<input  type="text" name="employeeId" id="empid" placeholder="Enter you Employee ID" [(ngModel)]="employeeId">
				</div>
				<div class="column">
					<label for="fstnm">First Name:</label><br>
					<input type="text" name="firstName" value="" id="fstnm" placeholder="Enter your first name" [(ngModel)]="firstName">
				</div>
                <p>{{employeeId}}</p>
                <h1>{{firstName}}</h1>
                <p>{{email}}</p>
                
				<div class="column">
					<label for="lstnm">Last Name:</label><br>
					<input type="text" value=" "  id="lstnm" placeholder="Enter your last name"[(ngModel)]="lastName">
				</div>
				<div class="column">
					<label for="eml">e-Mail ID:</label><br>
					<input type="email" id="eml" placeholder="Enter your e-mail"[(ngModel)]="email">
				</div>
				<div class="column">
					<label for="pno">Phone Number:</label><br>
					<input type="text" value=" " id="pno" placeholder="Enter Phone No."[(ngModel)]="phoneNumber">
				</div>
				<div class="column">
					<label for="hrdt">Hire Date:</label><br>
					<input type="date" id="hrdt" placeholder="Enter Hire Date"[(ngModel)]="hireDate">
				</div>
				<div class="column">
					<label for="sal">Salary:</label><br>
					<input type="text" id="sal" placeholder="Enter Salary" [(ngModel)]="salary">
				</div>
				<div class="column">
					<label for="job">Job:</label><br>
					<select id="job" placeholder="Enter Job" [(ngModel)]="job">
						<option>-SELECT-</option>
						<option value="Full-stack Developer">Full-stack Developer</option>
						<option value="Specialist Programmer">Specialist Programmer</option>
						<option value="Digital Specialist Engineer">Digital Specialist Engineer</option>
						<option value="Software Engineer">Software Engineer</option>
						<option value="Tester">Tester</option>
						<option value="Back-end Developer">Back-end Developer</option>
						<option value="Front-end Developer">Front-end Developer</option>
					</select>
				</div>
				<div class="column">
					<label for="cmsn">Commision Pct:</label><br>
					<input type="text" id="cmsn" placeholder="Enter Comm. Amt." [(ngModel)]="commision">
				</div>
				<div class="column">
					<label for="mngr">Manager Name:</label><br>
					<input type="text" id="mngr" placeholder="Enter Manager Name" [(ngModel)]="manager">
				</div>
				<div class="column">
					<label for="dptn">Department Name:</label><br>
					<input type="text" id="dptn" placeholder="Enter Dpt. Name" [(ngModel)]="deptNo">
				</div>
				<br ><br>
				<div class="btn"><br>
					<button type="submit" id="sbt">SUBMIT</button>
				</div>
			</div>
	
